{% extends 'base.html' %}

{% block title %} About{% endblock title %}
{% block aboutactive %} active {% endblock aboutactive %}

{% block body %}
<h3 style="font-family:Comic Sans MS"> About</h3>
<p style="font-family:Comic Sans MS">A Little About Me:
The best place to learn about me is by reading ICoder about page.
For the new readers, I’m Sagar, Founder of ICoder</p>
<p style="font-family:Comic Sans MS">The best place where you can get an idea from a fellow as well as senior web developers, showcase your work and build test cases. The blog section contains articles regarding all the latest technologies in the world of web development as well as tweaks and tricks to make your code faster and efficient.</p>
<p style="font-family:Comic Sans MS"> this blog site promotes programmers who think out of the box, push their limit and teaches the readers new and unique procedures in information architecture and graphic design. The site also contains blogs related to interaction and business design. Audiences of the blogs range from freshers who are new into UX design to expert web designers as well.</p>
<p style="font-family:Comic Sans MS">If you are new to the world of programming, this blog is ideal for you. The site posts about 2 blogs weekly and has all the resources that will guide you through the very basics of Android, C, PHP, SQL and other languages.</p>
{% endblock body %}